:root {
    --color-primary: #2f3e46;
    --color-secondary: #354f52;
    --color-text: #121010;
    --color-bg: #cad2c5;
    --color-whitetext:#ffffff;
    --color-hover:#f1803f;
    --background-color-section:#ffffff;
    --radius: 8px;
    --shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    --font-main:"Inter", "Segoe UI", Arial, sans-serif;
    --font-title:"Montserrat", "Times New Roman", Times, serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--font-main);
    font-size: 1rem;
    line-height: 1.6;
    color: var(--color-text);
    background-color: var(--color-bg);
}
h1{
    font-family:var(--font-title);
    font-size: 2.5rem;
}
h2{
    font-family:var(--font-title);
    font-size: 1.8rem;
}
h3{
    font-family:var(--font-title);
    font-size: 1.3rem;
}
header {
    background-color: var(--color-primary);
    color: var(--color-whitetext);
    text-align: center;
    padding: 2rem;
}
nav {
    background-color: var(--color-secondary);
    padding: 1rem;
    text-align: center;
}
nav a {
    color: var(--color-whitetext);
    text-decoration: none;
    margin: 2rem;
    transition: 0.3s;
}
nav a:hover {
    color: var(--color-hover);
}
footer {
    background-color: var(--color-primary);
    color: var(--color-whitetext);
    text-align:center;
    padding: 5px;
}
main {
    max-width: 900px;
    margin: 0 auto;
    padding: 2rem;
}
section {
    background-color: var(--background-color-section);
    border-radius: var(--radius);
    padding: 2rem;
    margin-bottom: 2rem;
    box-shadow: var(--shadow);
    flex: 1;
}
ul {
    padding-left: 1rem;
    margin-bottom: 1rem;
}
img {
    width: 100px;
    height: auto;
    margin:10px;
}
input, textarea, select{
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
}
input:focus{
    border:2px solid #1139a8;
    box-shadow: 0 0 4px skyblue;
    outline: none;
}
label{
    display: block;
    margin-bottom: 5px;
}
input:valid{
    border: 2px solid #16A34A;
    background-color:#F0FFF4;
}
input:invalid:not(:placeholder-shown){
    border:2px solid #DC2626;
    background-color: #FEF2F2;
}
input[type="checkbox"]{
    width:20px;
    height: 16px;
    margin-right:5px;
    margin-top: 10px;
    cursor: pointer;
}
button[type="submit"]{
    background-color: #1139a8;
    color: white;
    border:none;
    border-radius: 6px;
    padding: 10px;
    cursor: pointer;
}
button:active{
    transform: translateY(2px);
}
#intereses h3, #curiosidades h3{
    color: rgba(6, 52, 104, 0.705)
}