:root {
    --color-primary: #2f3e46;
    --color-secondary: linear-gradient(135deg, #62408c, #0c4a6e);
    --color-text: #121010;
    --color-bg: #e3f1f1;
    --color-whitetext:#ffffff;
    --color-accent:#f1803f;
    --background-color-section:#ffffff;
    --radius: 8px;
    --shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    --font-main:"Inter", "Segoe UI", Arial, sans-serif;
    --font-title:"Montserrat", "Times New Roman", Times, serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--font-main);
    font-size: 1rem;
    line-height: 1.6;
    color: var(--color-text);
    background-color: var(--color-bg);
}
h1{
    font-family:var(--font-title);
    font-size: 2.5rem;
}
h2{
    font-family:var(--font-title);
    font-size: 1.8rem;
}
h3{
    font-family:var(--font-title);
    font-size: 1.3rem;
}

.layout{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        "header header"
        "sidebar main"
        "footer footer";
    min-height: 100vh;
}

header{grid-area: header;}

aside{ grid-area:sidebar;
    display: none;
    background-color: #f8fafc;
    padding: 20px;
    border-right: 1px solid #d1d5db;
}
aside a{
    display:block;
    margin: 12px 0;
    text-decoration: none;
    color: #0c4a6e;
    font-weight: 500;
    transition: 0.3s;
}
aside a:hover{
    transform: translateX(4px)
}

main{grid-area:main;}
footer{grid-area:footer;}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-secondary);
    color: var(--color-whitetext);
    padding: 2rem;
    flex-wrap:wrap;
}
nav {
    display: flex;
    flex-wrap:wrap;
}
nav a {
    
    color: var(--color-whitetext);
    text-decoration: none;
    margin: 2rem;
    transition: 0.3s;
}
nav a:hover {
    color: var(--color-accent);
}
footer {
    background: var(--color-secondary);
    color: var(--color-whitetext);
    text-align:center;
    padding: 1.5rem;
}
footer a{
    color: #ffffff;
    text-decoration: none;
    margin: 0 12px;
    transition: 0.3s;
    font-size: 1rem;
}
footer i{
    margin-right: 6px;
}
footer a:hover{
    color:#93c5fd;
}
main {
    max-width: 900px;
    margin: 0 auto;
    padding: 2rem;
}
section {
    background-color: var(--background-color-section);
    border-radius: var(--radius);
    padding: 2rem;
    margin-bottom: 2rem;
    box-shadow: var(--shadow);
    flex: 1;
}
ul {
    padding-left: 1rem;
    margin-bottom: 1rem;
}
img {
    width: 100px;
    height: auto;
    margin:10px;
}
input, textarea, select{
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
}
input:focus{
    border:2px solid #1139a8;
    box-shadow: 0 0 4px skyblue;
    outline: none;
}
label{
    display: block;
    margin-bottom: 5px;
}
input:valid{
    border: 2px solid #16A34A;
    background-color:#F0FFF4;
}
input:invalid:not(:placeholder-shown){
    border:2px solid #DC2626;
    background-color: #FEF2F2;
}
input[type="checkbox"]{
    width:20px;
    height: 16px;
    margin-right:5px;
    margin-top: 10px;
    cursor: pointer;
}
button[type="submit"]{
    background-color: #1139a8;
    color: white;
    border:none;
    border-radius: 6px;
    padding: 10px;
    cursor: pointer;
}
button:active{
    transform: translateY(2px);
}
#intereses h3{
    color: rgba(6, 52, 104, 0.705)
}
.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 1.25rem;
    padding: 2rem;
}
.card{
    flex: 1 1 280px;
    border: 1px solid #08286e;
    border-radius: var(--radius);
    transition: 0.3s;
    box-shadow: var(--shadow);
    padding: 1rem;
    background-color: #b7a8e9;
}
.card:hover{
    transform: translateY(-4px);
}
#hero{
    display:flex;
    justify-content: center;
    align-items:center;
    min-height: 80vh;
    background: linear-gradient(to right, #f0f9ff,#0c4a6e);
    color:white;
    flex-direction:column;
    text-align: center;
}
.cta{
    text-decoration: none;
    color:#ffffff;
    background: linear-gradient(135deg, #5497c4, #675db2);
    border-radius: 10px;
    margin-top: 1.5rem;
    padding: 1rem 2.5rem;
    font-size: 1.1rem;
    font-weight: 600;
}
.cta:hover{
    transform: translateY(-2px);
}

.galeria{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1.25rem;
    padding: 2rem;
}
.tarjeta{
    border: 1px solid #08286e;;
    border-radius: 12px;
    padding: 1.5rem;
    box-shadow: 0 4px 10px rgb(0,0,0,0.1);
    transition: 0.3s ease;
    background-color: #c7cbeb;
}
.tarjeta:hover{
    transform: translateY(-4px);
}
.fa-html5{
    color:#d0521c;
}
.fa-css3-alt{
    color:#0551ad;
}
.fa-terminal{
    color:#16a34a;
}

@media(min-width: 768px){
    .layout{
        grid-template-columns: 220px 1fr;
        grid-template-areas: 
            "header" 
            "sider main" 
            "footer main";
    }
    aside{
        display: block;
    }
}

@media (min-width: 1024px){
    .layout{
        max-width: 1200px;
        margin: 0 auto;
    }
}

@media (min-width: 1440px){
    .layout{
        max-width: 1400px;
    }
}