* {
    margin: 0;
    padding: 0;
    box-sizing: borde-box;
}
body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    line-height: 1,6;
    color: #222;
}
header {
    background-color: #333;
    color:white;
    text-align: center;
    padding: 2rem;
}
nav {
    background-color: #b03ed5;
    padding: 1rem;
    text-align: center;
}
nav a {
    color: white;
    text-decoration: none;
    margin: 2rem;
    transition: 0,3s;
}
nav a:hover {
    color: orange;
}
footer {
    background-color: #333;
    color: white;
}
main {
    max-width: white;
    margin: 0 auto;
    padding: 2rem;
}
section {
    background-color: white;
    border-radius: 8px;
    padding: 2rem;
    margin-bottom: 2rem;
    box-shadow: 0 2px 5px rgba(0,0,0,0,1);
}
o1 {
    padding-left: 2rem;
    margin-bottom: 1rem;
}
img {
    width: 200px;
    height: auto;
    margin:10px;
}
